<ion-grid fixed class="ion-no-padding">
    <ion-content color="dark">
        <div class="d-flex flex-column ion-justify-content-around border min-vh-100">
            <img src="assets/images/welcome.svg" class="w-100">
            <div class="px-4 ion-text-center">
                <ion-title size="large" class="text-bold">WELCOME</ion-title>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, ad provident?</P>
                <ion-button routerLink="/tabs" color="success" shape="round" class="mt-5">Get Started</ion-button>
            </div>
        </div>
    </ion-content>
</ion-grid>